<img class="img-left"src="/images/code-pilot-logo.png" alt="">

<h1 id="slider_text" class="sliderText_content">{{title}}</h1>
<p class="sliderText_content subtitle">{{subtitle}}</p>


<div class="login-signup">
  <button class="signup-modal-button" type="button" name="button">Sign Up</button>
  <button class="login-modal-button" type="button" name="button">Login</button>
</div>

 <div class="signup-modal-div hide">
  <a href="/teacher-signup">Are you signing up as a Teacher?</a>
  <a href="/student-signup">Are you signing up as a Student?</a>
 </div>

 <div class="login-modal-div hide">
  <a href="/teacher-login">Are you logging in as a Teacher?</a>
  <a href="/student-login">Are you logging in as a Student?</a>
 </div>

 <img src="/images/team-code.jpg" alt="">
