<section class="container">
  <div class="row">
    <div class="col-sm-12" align="center">
        <img src="/images/code-pilot.png"></img>
    </div>
  </div>

 <div class="row col-sm-12" align="center">
   <h1 id="slider_text" class="sliderText_content">{{title}}</h1>
   <p class="sliderText_content subtitle">{{subtitle}}</p>
  </div>


 <div class="row">
    <div class="login-signup col-sm-12" align="center">
      <button class="signup-modal-button btn btn-primary" type="button" name="button">Sign Up</button>
      <button class="login-modal-button btn btn-primary" type="button" name="button">Login</button>
    </div>
  </div>



 <div class="row">
    <div class="signup-modal-div hide" class="login-signup col-sm-12" align="center">
      <button class="btn btn-default" name="button"><a href="/teacher-signup">Are you signing up as a Teacher?</a></button>

     <button class="btn btn-default" name="button"><a href="/student-signup">Are you signing up as a Student?</a></button>

   </div>

   <div class="login-modal-div hide" class="login-signup col-sm-12" align="center">
    <button class="btn btn-default" name="button"><a href="/teacher-login">Are you logging in as a Teacher?</a></button>
    <button class="btn btn-default" name="button"><a href="/student-login">Are you logging in as a Student?</a></button>

  </div>
  </div>

</section>

 <img class="front-page-clipart" src="/images/team-code.jpg">
