{{#each onlineTeachers}}
      <h4>
       {{uname}}
      </h4>
      <label for="">Bio:</label>
      <p>{{bio}}</p>
      <a href="/profile/teacher/view/{{id}}"><button class="btn-warning onlineTeacher">Learn More</button></a>
{{/each}}
