<h2>Welcome to Code_Pilot</h2>
<p>We hope you learn a lot!</p>


<a href="/">Home</a>

<form class="" action="/signup" method="post">
  <input hidden type="text" name="id" value="{{student.id}}">
  <input type="text" name="uname" value="" placeholder="User Name">
  <input type="text" name="fname" value="" placeholder="First Name">
  <input type="text" name="lname" value="" placeholder="Last Name">
  <input type="text" name="pword" value="" placeholder="Password">
  <input type="text" name="email" value="" placeholder="Email Address">
  <button type="submit" name="button">Submit</button>
</form>

<a href="#"><p>Forgot password
