
<div class="row col-sm-12" align="center">
  <h2>Welcome to Code_Pilot</h2>
  <p>We hope you learn a lot!</p>
</div>


<div class="row col-sm-12" align="center">
  <a href="/">Home</a>
</div>


<form class="" action="/signup" method="post">
  <input hidden type="text" name="id" value="{{student.id}}">
  <div class="row col-sm-12" align="center">
    <label for="">Username:</label>
    <input type="text" name="uname" value="" placeholder="User Name">
  </div>
  <div class="row col-sm-12" align="center">
    <label for="">Password:</label>
    <input type="text" name="pword" value="" placeholder="Password">
  </div>
  <div class="row col-sm-12" align="center">
    <label for="">First Name:</label>
    <input type="text" name="fname" value="" placeholder="First Name">
  </div>
  <div class="row col-sm-12" align="center">
    <label for="">Last Name:</label>
    <input type="text" name="lname" value="" placeholder="Last Name">
  </div>
  <div class="row col-sm-12" align="center">
    <label for="">Email:</label>
    <input type="text" name="email" value="" placeholder="Email Address">
  </div>
  <div class="row col-sm-12" align="center">
    <button type="submit" name="button">Submit</button>
  </div>

</form>

<!-- <a href="#"><p>Forgot password -->
