<div class="row">
  <div class="col-sm-12" align="center">
      <img src="/images/code-pilot.png"></img>
  </div>
</div>

<h2 class="page-title">Student Login</h2>

<div class="student-login">
  <form class="" action="/profile" method="post">
    <label for="uname">Username: </label>
    <input type="text" name="uname" value="" required><br>
    <label for="pword">Password: </label>
    <input type="text" name="pword" value="" required><br>
    <button class="my-submit-button" type="submit" name="button">Submit</button>
  </form>
</div>

<span class="remaining-links">
  <a class="link-item" href="/">Home</a>
</span>

<span class="remaining-links">
  <a class="link-item" href="#"><p>Forgot password</p></a>
</span>
