<a href="/">Home</a>
<form class="" action="/profile/teacher" method="post">
  <input type="text" name="uname" value="">
  <input type="text" name="pword" value="">
  <button type="submit" name="button">Submit</button>
</form>
<a href="#"><p>Forgot password</p></a>
