<body class="bcolor">
  <div class="container">
    <div class="row">
      <div class="col-sm-12" align="center">
          <img src="/images/code-pilot.png"></img>
      </div>
    </div>

    <h2 class="page-title">Teacher Login</h2>

    <div class="student-login">
      <form class="" action="/profile/teacher" method="post">
        <label for="uname">Username: </label>
        <input type="text" name="uname" value=""><br>
        <label for="pword">Password: </label>
        <input class="pass"type="password" name="pword" value=""><br>
        <input hidden class="check" type="checkbox" name="" value="">
        <button class="my-submit-button" type="submit" name="button">Submit</button>
      </form>
    </div>

    <div class="remaining-links">
      <a href="/">Home</a> <br>
      <a href="#"><p>Forgot password</p></a>
    </div>
  </div>
</body>
