body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: auto;
}

a {
  color: #00B7FF;
}

.flex {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  width: 100%;
}

.hide {
  display: none;
}
