body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: auto;
}

a {
  color: #00B7FF;
}

.bcolor{
  background-color: tan;
}

.hide {
  display: none;
}

.slider-container {
  max-height: 100px;
  min-height: 100px;
}

.sliderText_content {
  max-height: 50px;
  min-height: 50px;
  margin: 0;
}

.login-signup {
  padding: 0;
}

.col-sm-12 {
  padding: 0;
}

.clipart-wrapper {
  display: flex;
  justify-content: center;
}

.page-title {
  display: flex;
  justify-content: center;
}

.student-login {
  display: flex;
  justify-content: center;
}

.my-submit-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1%;
}

.remaining-links {
  display: flex;
  justify-content: center;
}

.edit-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-form {
  display: flex;
  flex-direction: column;
  width: 44em;
}

.welcome-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.boutton {
  .width: auto;
  font-size: 2em;
}

.enterChat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 2em;
  font-size: 2.4em;
  width: auto;
}

.online-teachers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.online-users-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.users-list {
  height: 25em;
}

.chat {
  height: 17.4em;
  overflow: scroll;
}

#message {
  height: 2.45em;
}

.list-group {
  overflow: scroll;
}

.info-section {
  border: 1px solid black;
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
}

.pp {
  border: 2px solid black;
  padding: 15px;
}
